{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "@soperio/theming": "../theming/index.ts",
                    "@soperio/utils": "./theming/index.ts"
                }
            }
        ]
    ]
}