{
  "presets": [
    ["@nrwl/react/babel", { "runtime": "automatic", "importSource": "@soperio" }]
  ],
  // "plugins": [
  //   [ "@babel/plugin-transform-react-jsx", {
  //     // "runtime": "automatic",
  //     "runtime": "classic",
  //     // "importSource": "'react"
  //     "jsxFactory": "jsx",
  //     "jsxFragmentFactory": "jsx",
  //   }]
  // ]
}
