{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        // "runtime": "automatic"
        "runtime": "classic",
        "jsxFactory": "jsx",
        "jsxFragmentFactory": "jsx",
      }
    ]
  ],
  "plugins": [
    [ "@babel/plugin-transform-react-jsx", {
      // "runtime": "automatic",
      "runtime": "classic",
      // "importSource": "'react"
      "jsxFactory": "jsx",
      "jsxFragmentFactory": "jsx",
    }]
  ]
}
