{
  "presets": [
    [
      "@nrwl/react/babel",
      {
        // "runtime": "automatic",
        "runtime": "classic",
        "jsxFactory": "jsx",
        "jsxFragmentFactory": "jsx",
        "useBuiltIns": "usage"
      }
    ]
  ],
  "plugins": [
    [
      "@babel/plugin-transform-react-jsx",
      {
        "runtime": "classic", // defaults to classic
        "jsxFactory": "jsx",
        "jsxFragmentFactory": "jsx",
      }
    ]
  ]
}
